@model ErrorViewModel
@{
    ViewData["Title"] = "InputError";
}

    <div class="alert-dark m-0 p-3">
        <h1 class="alert-dark">InputError.</h1>

        @if (Model.ShowRequestId)
        {
            <h4>An error occurred to generate the URL</h4>
            <p>The URL <strong>is not valid</strong>, make sure the URL you tried to shorten is correct.</p>
            <p class="m-0">Possible errors:</p>
            <ul class="list-group-item-dark" style="list-style-type:none">
                <li>Check if the domain is correct</li>
                <li>Check if the site is online</li>
                <li>Check the length of the url is not too small</li>
                <li>Check the address bars and punctuation</li>
                <li>The URL may have been blocked</li>
                <li>The url may have been reported</li>
                <li>Make sure the url does not contain spam</li>
            </ul>
        }
    </div>